<ion-view>

  <ion-content has-header="true" padding="true" class="conteudo" style="height: 100%">

    <!-- Logo -->
    <div style="top:calc(50% - 65px); position:relative;" class="animated bounce infinite">
      <div class="boxLogo">
        <div class="headerLogo bar bar-header row row-center">
          <div class="col col-center">
            <h1 class="Logoh1">m<br></h1>
          </div>
        </div>
        <div class="subheaderLogo bar bar-subheader">
          <div class="col col-center">
            <h2 class="Logoh2">My<span style="font-weight: bold;">Face</span>Gallery</h2>
          </div>
        </div>
      </div>
    </div>
    
  </ion-content>
</ion-view>
<style media="screen">
.scroll{
  height: 100%;
}
</style>
